<html ng-app="puppyApp">
  <head>
    <title>Puppies!</title>
    <link rel="stylesheet" type="text/css" href="style.css">

    <!--Lo-Dash -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/lodash.js/4.16.1/lodash.js"></script>
    <!-- Angular -->
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.9/angular.min.js"></script>
    <!-- App -->
    <script src="app.js"></script>
    <!-- Controllers -->
    <script src="controllers/puppyController.js"></script>
    <!-- Directives -->
    <script src="directives/breedOption.js"></script>

    <!-- Services -->
    <script src="services/breeds.js"></script>
  </head>

  <body ng-controller= "PuppyCtrl">

  <h1>The AJAX Puppy Shelter</h1>
  <h2>Register a new puppy</h2>
  <form name="puppyForm" ng-submit="newPuppy()">
    <label for="name">Name:</label>
    <input type="text" ng-model="formData.name"><br>
    <label for="breed">Breed:</label>
    <select ng-model="formData.breed">
      <option breed-option ng-repeat="breed in breeds" breed="breed">
      <option>
    </select><br>
    <input type="submit" value="REGISTER PUPPY">
  </form>
  <p>{{breeds}}</p>


  </body>
</html>