<!DOCTYPE html>
<html ng-app='puppies' ng-controller="puppyCtrl">
<head>
	<title>Puppies Part II</title>
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.4/jquery.min.js"></script>
  <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.9/angular.min.js"></script>
	<script src="app.js"></script>
  <script src="controller.js"></script>
  <script src="services.js"></script>
  <script src="directives.js"></script>
</head>

<body>
	<h1>The AJAX Puppy Shelter</h1>
    <h3>Register a new puppy</h3>
    <form id="puppy-form">

      <label for="name">Name</label>
      <input type="text" id="name" name="name" ng-model="puppy.name">

      <label for="breeds">Breeds</label>
      <select id="breeds" name="breed_id" ng-model="puppy.breed_id">
         <option ng-repeat="breed in breedList" value="{{ breed.id }}">{{ breed.name }}</option>
      </select>

      <input type="submit" id="submit-form" value="Register Puppy" ng-click="createPuppy(puppy)">
    </form>

    <h3>Our puppies:</h3>
    <a href="#" id="refresh">Refresh puppies list</a>
    <puppy></puppy>
</body>
</html>