
main {
  padding: 100px 0 0 0;
}

.relative {
  position: relative;
}


.autocomplete-options {
  position: absolute;
  z-index: 100;
  background-color: white;
  border-radius: 4px;
  border: 1px solid #222;
  width: 100%;
  width: calc(100% - 30px);
  padding:5px;
  cursor: pointer;
}

.autocomplete-options > div {
  width: 100%;
  border-bottom: 1px solid #ccc;
  padding: 5px 0;
}

.autocomplete-options > div:last-child {
  width: 100%;
  border-bottom: none;
}

.autocomplete-options > div:hover {
  background: #eee;
}
