<html ng-app="toDo">
<head>
  <title>Todo List</title>

  <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.5/angular.min.js"></script>
</head>

<body ng-controller="toDoController">
  <form name="taskForm" ng-submit="createTask()" novalidate>
    <h1>Add a task</h1>

    <label>Task: <input type="text" name="taskName" ng-model="taskName" required></label>
    <br />
    <label>Deadline: <input type="date" name="taskDeadline" ng-model="taskDeadline" placeholder="yyyy-MM-dd" required></label>
    <div role="alert">
      <br />
      <span ng-show="taskForm.taskName.$error.required">Your name is required!</span>
      <span ng-show="taskForm.taskDeadline.$error.required">A date is required!</span>
      <span class="error" ng-show="taskForm.taskDeadline.$error.date">Not a valid date!</span>
    </div>
    <br />
    <button type="submit" ng-disabled="taskForm.$invalid">Create Task</button>
  </form>

  <table>
    <thead>
      <th>Task</th>
      <th>Deadline</th>
      <th>Completed?</th>
    </thead>
    <tbody>
      <tr to-do ng-repeat="item in toDos" item="item" remove-task="removeTask($index)"></tr>
    </tbody>
  </table>
</body>

<!-- angular app -->
<script src="javascripts/app.js"></script>

<!-- controllers -->
<script src="javascripts/controllers/toDoController.js"></script>

<!-- directives -->
<script src="javascripts/directives/toDo.js"></script>

</html>
