
<div class="row">
  <form name="newPuppyForm" ng-submit="createPuppy(newPuppyForm.$valid, newPuppy)" class="relative">

    <div class="col-xs-3">
      <label>
        Name
        <input type="text" ng-model="newPuppy.name" required ng-min-length="2">
      </label>
    </div>

    <div class="col-xs-6">
      <label>
        Breed

        <input type="text" ng-model="breedFilter" ng-keyup="possibleBreeds(breedFilter)">

        <div class="absolute autocomplete-options" ng-if="matches.length && breedFilter.length">
          <div ng-repeat="match in matches | limitTo:10" ng-click="autocomplete(match, scope)">{{ match.name }}</div>
        </div>

      </label>
    </div>

    <div class="col-xs-3">
      <inpuyt type="hidden" ng-model="newPuppy.breedId">
    </div>

  <input type="submit" value="Add Puppy">
</form>
</div>
