<html ng-app="puppers">
<head>
  <title>AJAX Puppies</title>
  <script src="//code.jquery.com/jquery-1.11.3.min.js"></script>
  <script src="//code.jquery.com/jquery-migrate-1.2.1.min.js"></script>
  <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.5/angular.min.js"></script>
</head>

<body ng-controller="puppersController">

  <h1>Breeds</h1>

  <ul>
    <li ng-repeat="breed in breeds">{{breed.name}}</li>
  </ul>
  <!-- <table>
    <thead>
      <th>Task</th>
      <th>Deadline</th>
      <th>Completed?</th>
    </thead>
    <tbody>
      <tr to-do ng-repeat="item in toDos | filter:completedFilter" item="item" remove-task="removeTask($index)"></tr>
    </tbody>
  </table> -->
</body>

<!-- angular app -->
<script src="javascripts/app.js"></script>

<!-- controllers -->
<script src="javascripts/controllers/puppersController.js"></script>

<!-- directives -->
<script src="javascripts/directives/pupper.js"></script>

<!-- services -->
<script src="javascripts/services/breeds.js"></script>

</html>
