<!DOCTYPE html>
<html ng-app="puppyAPI">
  <head>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous">
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.9/angular.min.js"></script>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous">
  </head>
  <body>
    <div class="container" ng-controller="puppiesCtrl">

      <h1 class="text-center">The Ajax Puppy Shelter</h1>

      <div class="row">
        <div class="col-sm-8 col-sm-offset-2">

          <h3>Register a new puppy</h3>

          <form ng-submit="createPuppy(newName, newBreedId)">
            <div class="form-group">
              <label for="">Name</label>
              <input id="" class="form-control" type="text" ng-model="newName">
            </div>
            <div class="form-group">
              <label for="">Breed</label>
              <select id="" class="form-control" ng-model="newBreedId">
                <option ng-repeat="breed in breeds" value="{{ breed.id }}">{{ breed.name }}</option>
              </select>
            </div>
            <div class="form-group"><input value="Register Puppy" class="btn btn-default" type="submit"></div>
          </form>

          <hr>

          <h3>Our Puppies
          <a class="btn btn-default" ng-click="getPuppies()">Refresh Puppy List</a>
          </h3>


          <div class="list-group">
            <div class="list-group-item" ng-repeat="puppy in puppies">
              <strong>{{ puppy.name }}</strong>
              ({{ puppy.breed.name}}),
              <em>created {{ puppy.created_at | date: "short" }}</em>
              --
              <a href="">adopt</a>
            </div>
          </div>
        </div>
      </div>

    </div>
    <script src="../app.js"></script>
    <script src="../controllers/puppiesController.js"></script>
    <script src="../services/puppyService.js"></script>
  </body>
</html>
