<!DOCTYPE html>
<html ng-app="puppyAPI">
  <head>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous">
    <link rel="stylesheet" href="../styles/styles.css">
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.9/angular.min.js"></script>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous">
  </head>
  <body>
    <div class="container" ng-controller="puppiesCtrl">

      <h1 class="text-center">The Ajax Puppy Shelter</h1>

      <div class="row">
        <div class="col-sm-8 col-sm-offset-2">

          <h3>Register a new puppy</h3>

          <form action="">
            <div class="form-group">
              <label for="">Name</label>
              <input id="" class="form-control" type="text" name="">
            </div>
            <div class="form-group">
              <label for="">Breed</label>
              <select id="" class="form-control" name="">
                <option value="0">Breed</option>
                <option value="0">Breed2</option>
              </select>
            </div>
            <div class="form-group"><input value="Register Puppy" class="btn btn-default" type="submit" name=""></div>
          </form>

          <hr>

          <h3>Our Puppies
          <a class="btn btn-default">Refresh Puppy List</a>
          </h3>


          <div class="list-group">
            <div class="list-group-item" ng-repeat="puppy in puppies">
              <strong>Fluffy</strong>
              (Poodle),
              <em>created 10 minutes ago</em>
              --
              <a href="">adopt</a>
            </div>
          </div>
        </div>
      </div>

    </div>
    <script src="../app.js"></script>
    <script src="../controllers/puppiesController.js"></script>
    <script src="../services/puppyService.js"></script>
  </body>
</html>
